@import '../styles/navbar.css';
@import '../styles/leftbar.css';
@import '../styles/menuLink.css';
@import '../styles/navbar.css';
@import '../styles/recommendation.css';
@import '../styles/rightbar.css';
@import '../styles/update.css';
@import '../styles/warning.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
  width: 100%;
  display: flex;
}
